<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techsial.apps.timezones">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base">
        <activity
            android:name="com.techsial.apps.timezones.core.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".core.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".core.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.MainActivity" />
        </activity>


        <activity
            android:name=".core.HelpActivity"
            android:label="@string/help_activity_label"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".core.TimeZoneWidgetConfigure"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/select_city"
            android:theme="@android:style/Theme.Dialog"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".core.TimeZoneWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>

        <service
            android:name=".core.TimeZoneWidgetService"
            android:enabled="true"></service>

    </application>

</manifest>